.item{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.explanation{
    display: inline-block;
  }
.button{
    display: inline-block;
    margin-left: 5px;
    width: 15px;
}
.buttonDiv{
    display: inline-block;
}